@model WebApplication12.Controllers.NameClass

<form action="/sessiondemo/formpost">
    <input type="text" name="name" value="@Model.Name" placeholder="name"/>
    <button class="btn btn-submit">Submit</button>
</form>

